#HeaderDiv {
  height: 50px;
  display: flex;
  margin-bottom: 5%;
  max-width: 500px;
  margin: 0 auto 1%;
}
.HeaderDivSide {
  width: 20%;
}
.HeaderDivCenter {
  width: 60%;
}
#kakaoImg,
#LogoutImg {
  cursor: pointer;
  height: 70%;
  width: 35%;
  position: relative;
  top: 2.5vh;
  right: 1vh;
}
#HeaderDiv h1 {
  text-align: center;
  color: #555555;
  font-size: 25px;
}
#HeaderLogo {
  text-decoration: none;
}
