.list-container {
    background-color: rgb(255, 255, 255, 0.5);
    width: 100%;
    height: auto;
    /* 나중에 없애기 */
    max-width: 500px;
    min-height: 300px; 
    margin: 10px auto;
    padding: 10px 0;
    border-radius: 10px;
}